<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="/img/without background.png" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Source+Sans+Pro" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Custom.js"></script>
    <title>Joystick Gamer Club</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="/img/without background.png" width="30" height="30" alt="">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link scrollTo" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollTo" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollTo" href="#venue">Venue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scrollTo" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <!--landing page-->
    <div class="row home">
        <div id="home" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#home" data-slide-to="0" class="active"></li>
                <li data-target="#home" data-slide-to="1"></li>
                <li data-target="#home" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="col-12 hero overlay">
                    <div class="col-md-12">
                    </div>
                    <div class="text-center col-md-12">
                        <img src="/img/without background.png" alt="logo" />
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="darken"></div>
                    <img class="d-block w-100" src="/img/slide-img1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Entry and Parking</h4>
                        <h5>Entry is £2 at the door all day, there are over 80 free parking spaces available</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="darken"></div>
                    <img class="d-block w-100" src="/img/slide-img2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Castle Green Community Centre</h4>
                        <h5>The event will be held on the 4th May 2019 at Castle Green Community Centre Postcode: RM9 4UN</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="darken"></div>
                    <img class="d-block w-100" src="/img/slide-img3.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Want to sell at the fair?</h4>
                        <h5>The fair is open to sellers of all levels, from business sellers to people wanting to part with preloved items. Prices are £25 per table, to book a table please Contact Us</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#home" role="button" data-slide="prev" id="carouselIndicator">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#home" role="button" data-slide="next" id="carouselIndicator">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--about section-->
    <div id="about">
        <div class="about row text-center">
            <div class="container">
                <h5>Thank you to everyone that attended the last event, the next Retro Games Fair will be taking place on Saturday 4th of May 2019 from 11am to 3pm at the Castle Green Centre in Dagenham RM9 4UN. We invite sellers of all stripes with a focus on retro gaming and merchandise, so expect to find tables of sellers with selections of video games, board games, books, magazines, toys, custom artwork and more. Whether you’re a bargain hunter, hard core collector or just starting out in the world of collecting, they’ll be plenty for you to choose from.</h5>
                <br />
                <h5>Please visit our facebook events page if you would like to register your interest</h5>
                <br />
                <a href="https://www.facebook.com/events/116453669159380/?ti=cl">
                    <button class="btn btn-light">Go To Events</button>
                </a>
            </div>
        </div>
    </div>
    <!--venue details-->
    <div id="venue">
        <div class="col-md-10 col-sm-11 white-box mx-auto venue">
            <div class="row venueDetails">

                <div class="col-md-4 col-sm-12 mx-auto col-sytle">
                    <p><strong>Address</strong></p>
                    <p>Castle Green</p>
                    <p>Gale Street</p>
                    <p>Dagenham</p>
                    <p>Essex</p>
                    <p>RM9 4UN</p>
                    <p><strong>Over 80 parking spaces available (Free Parking)</strong></p>
                </div>
                <div class="col-md-4 col-sm-12 mx-auto col-sytle">
                    <p><strong>4th May 2019</strong></p>
                    <p>Doors open at 11am, event closes at 3 pm.</p>
                    <p>Entry is £2 all day</p>
                    <p>Kids under the age of 14 can enter for free but must be accompanied by a paying adult</p>
                    <p>For more information about Castle Green, please visit the Castle Green Website using the button below</p>
                    <a href="https://castle-green.org.uk/" class=""><button class="btn btn-light" value="Go to Castle Green">Go to Castle Green</button></a>
                </div>
                <div class="col-md-4 col-sm-12 mx-auto col-sytle">
                    <div id="map"></div>
                </div>
            </div>
            <div class="row para">
                <div class="col-6 text-center">
                    <p><strong>By Train :</strong></p>
                    <img src="/img/DistrictLine.png" alt="£2 Entry All Day" />
                    <p>Castle Green Community Centre is a 10 minute walk from Becontree tube station, which is on the District Line</p>
                </div>
                <div class="col-6 text-center">
                    <p><strong>By Car :</strong> </p>
                    <img src="/img/travelbyCar.png" alt="£2 Entry All Day" />
                    <p>Castle Green Community Centre, Gale Street, Dagenham, Essex, RM9 4UN</p>
                </div>
            </div>
        </div>

    </div>
    <!--contact section-->
    <div class="contact row mx-auto" id="contact">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <!--footer-->
    <footer class="row">
        <div class="col-9" style="opacity:0.6;">
            <p class="col-12">Click Ret Limited All rights reserved 2018</p>
            <p class="col-12">Click Ret LTD is a private company registered in England and Wales Number: 11320350,</p>
            <p class="col-12">Registered office: 20-22 WENLOCK ROAD LONDON N1 7GU</p>
        </div>
        <div class="text-center tabs col-3">
            <a href="https://www.facebook.com/Joystick-Gamer-Club-1834264963539550/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/jgamerclub" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/joystick_gamerclub/" class="fa fa-instagram"></a>
        </div>
    </footer>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWW0khMfLKSy8A-lZMPzx64-Rrp7ElBYU&amp;callback=initMap">
    </script>
</body>
</html>
